rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /fighters/{fighterId}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'juan939srz@gmail.com';
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
